<div class="div">
    <h1>Stupid coaching</h1>
</div>

<form action="/answer" method="get">
  <label for="questions_id">Your question: </label>
  <input id="questions_id" type="text" name="question" placeholder="Enter your question.">
  <input type="submit" value="Ask!">
</form>


 <%# If the message is I am going to work, the coach will answer Great!
 If the message has a question mark ? at the end, the coach will answer Silly question, get dressed and go to work!.
 Otherwise the coach will answer I don't care, get dressed and go to work! %>
